/* font-family: 'Montserrat', sans-serif;
peso 300
400
500
600
*/
@import 'top.css';
@import 'quite.css';
@import 'footer.css';
@import 'responsive.css';
@import 'responsive_2.css';
.container{
  width:84%;
  margin:0 auto;
}
body{
  background-color: #232c40;
  background-image: linear-gradient(45deg, #232c40 0%, #69487c 20%, #e55c7d 36%, #7d2950 60%, #301f30 80%, #1d252e 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

a{
  text-decoration: none;
}

ul{
  list-style:none;
}
.content_mobile{
  display: none;
}
.info .menu-mobile{
  display: none;
}
img{
  max-width: 100%;
}